.chat-row {
    display: flex;
    margin: 5px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0px 7px;
    max-width: 90%;
}

.ai-bubble {
    background: rgb(240, 242, 246);
    border-radius: 10px;
}

.human-bubble {
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%); 
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
}

.body, html {
    height: 100%;
    margin: 0;
    background-image: url('https://raw.githubusercontent.com/zzjy222/seahawkAItool.github.io/main/static/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 32px; 
    font-weight: bold; 
    color: #005f73; 
    text-align: center; 
    margin-bottom: 20px; 
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

